# vi docker-compose.yml
version: '3.3'
services:
    mongo:
        ports:
            - '27017:27017'
        container_name: picnic-planner-mongo-db 
        restart: always
        network_mode: bridge
        logging:
            options:
                max-size: 1g
        image: mongo
